:root {
  box-sizing: border-box;

  /* colors */
  --bg-white: #fcfcfc;
  --bg-dark: #333;
  --bg-gray: #ddd;
  --bg-accent: #191919;

  --text: #333;
  --text-accent: #dc3545;
  --text-white: #fcfcfc;
  --text-gray: #ddd;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.6;
}

img {
  display: block;
  font-size: 0;
  width: 100%;
}

.img-svg {
  width: 80%;
  max-width: 360px;
  margin: 0 auto;
}

section {
  padding: 4em 0 2em 0;
}

section.bg-gray {
  background-color: var(--bg-gray);
}

.heading-title {
  font-weight: bold;
  position: relative;
  margin: 0.5em 0;
  padding: 0.3em 0;
}

.top {
  position: fixed;
  bottom: 0.25em;
  right: 0.25em;
  font-size: 4em;
  line-height: 0;
  background-color: transparent;
  border: none;
  color: var(--bg-accent);
}

.heading-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 5px;
  background-color: var(--bg-accent);
}

/* navbar */

.navbar {
  background-color: var(--bg-accent);
}

.navbar a {
  text-transform: uppercase;
}

/* hero section */

.carousel .carousel-item {
  min-height: 92vh;
  object-fit: cover;
}

.carousel-caption {
  bottom: 3rem;
}

.carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
}

/* cards */
.card {
  margin-right: 1em;
}

.slick-arrow {
  display: none !important;
}

/* subscribe */
.bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #050505, #1d1c1c50),
    url('https://www.yashrajfilms.com/images/default-source/subscriber-background/subscribe-bg22.jpg?sfvrsn=4')
      center;
  color: var(--bg-white);
  background-size: cover;
}

.btn-danger {
  border-color: var(--bg-gray);
}

.btn-danger:hover {
  border-color: var(--bg-gray);
  opacity: 0.8;
}

/* footer */
.bg-dark {
  background-color: var(--bg-dark);
  color: var(--text-white);
  padding-bottom: 1em;
}

.footer-col a {
  display: block;
  color: var(--text-gray);
  text-decoration: none;
  opacity: 0.6;
}

.footer-col a:hover {
  opacity: 1;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  margin-right: 1em;
}

.btn-accent {
  background-color: var(--bg-accent);
  border-color: var(--bg-accent);
}

.btn-accent:hover {
  background-color: var(--bg-accent);
  border-color: var(--bg-accent);
  opacity: 0.8;
}

.btn-danger {
  background-color: var(--bg-accent);
}

.btn-outline-danger {
  color: var(--bg-accent);
  border-color: var(--bg-accent);
}

.btn-danger:hover {
  background-color: var(--bg-accent);
  opacity: 0.8;
}

.btn-outline-danger:hover {
  background-color: var(--bg-accent);
  opacity: 0.8;
}

@media (max-width: 480px) {
  .card {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .footer-col {
    text-align: center;
    margin: 0.5em 0;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-links a {
    margin: 0.5em;
  }
  .footer-brand {
    order: -1;
  }
  .footer-social {
    justify-content: center;
  }
  .footer-social a {
    margin: 1em;
  }
  .footer {
    text-align: center;
  }
}
