:root {
  box-sizing: border-box;

  /* colors */
  --bg-white: #fcfcfc;
  --bg-dark: #333;
  --bg-gray: #ddd;
  --bg-accent: #dc3545;

  --text: #333;
  --text-accent: #dc3545;
  --text-white: #fcfcfc;
  --text-gray: #ddd;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.6;
}

section {
  padding: 4em 0 2em 0;
}

section.bg-gray {
  background-color: var(--bg-gray);
}

.heading-title {
  font-weight: bold;
  position: relative;
  margin: 0.5em 0;
  padding: 0.3em 0;
}

.top {
  position: fixed;
  bottom: 0.25em;
  right: 0.25em;
  font-size: 4em;
  line-height: 0;
  background-color: transparent;
  border: none;
  color: var(--bg-accent);
}

.heading-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 5px;
  background-color: red;
}

/* navbar */

.navbar {
  background-color: var(--bg-accent);
}

.navbar a {
  text-transform: uppercase;
}

/* hero section */

.carousel .carousel-item {
  height: 75vh;
  object-fit: cover;
}

.carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
}

/* cards */
.card {
  margin-right: 1em;
}

.slick-arrow {
  display: none !important;
}

/* subscribe */
.bg-img {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #050505, #1d1c1c50),
    url('https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  color: var(--bg-white);
  background-size: cover;
}

/* footer */
.bg-dark {
  background-color: var(--bg-dark);
  color: var(--text-white);
}

.footer-col a {
  display: block;
  color: var(--text-gray);
  text-decoration: none;
}
.footer-col a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  margin-right: 1em;
}

@media (max-width: 480px) {
  .card {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .footer-col {
    text-align: center;
    margin: 0.5em 0;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-links a {
    margin: 0.5em;
  }
  .footer-brand {
    order: -1;
  }
  .footer-social {
    justify-content: center;
  }
  .footer-social a {
    margin: 1em;
  }
}
